<h1 class="text-center">@Html.ActionLink(mw.App_Code.Config.SiteName, "Index", "Home")</h1>

<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Projects", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Index", "Home")</li>
</ul>