<h1 class="text-center">@Html.RouteLink("Home", "Home")</h1>

<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Projects", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Index", "Home")</li>
</ul>