@model mw.Models.Entry

@{
    ViewBag.Title = "Details";
}


@Model.Title

@Html.Raw(Model.Body)



    Created @Model.DateCreated
    <br />
    Updated @Model.DateModified

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
