@model IEnumerable<mw.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2 id="page-title">@ViewBag.Title</h2>

<div id="projects-index">
    @foreach (var project in Model) {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "Projects", new {  id = @project.Id})" title="@project.Name">
                    <img src="@Url.Content("~/Content/Images/index.svg")" alt="@project.Name" />
                </a>
            </div>
        </div>
    }
</div>

@Html.ActionLink("Create new project", "Create")